@charset "UTF-8";
body {
  background-color: rgba(42, 23, 55, 0.4);
}

li {
  list-style: none;
}

.logo:hover {
  transform: scale(1.5);
  transition-duration: 0.3s;
}

.color {
  background-color: rgba(42, 23, 55, 0.9);
}

.color-font {
  color: white;
}

.color-dropdown {
  background-color: rgba(42, 23, 55, 0.9);
}

.color-boton {
  background-color: rgba(42, 23, 55, 0.9);
  color: white;
}

.btn:hover {
  transform: scale(1.1);
  background-color: rgba(77, 76, 78, 0.7);
  border: 1px solid white;
  color: white;
}

.fondo-btn {
  background-color: rgb(87, 87, 87);
}

/*=============================inicio section=========================*/
/* estilo cards */
.img-three:hover, .img-two:hover, .img-one:hover {
  box-shadow: 5px 5px 20px rgba(6, 6, 6, 0.4);
  transform: translatey(-3%);
}

.con-grid .grid-two, .con-grid .grid-one {
  background-color: rgba(77, 76, 78, 0.4);
  text-align: center;
  border: solid black 1px;
}

.link-wpp, .link-insta, .link-mail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-tierradelfuego, .banner-santacruz, .banner-cordoba, .banner-mendoza, .banner-jujuy, .banner-salta, .banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.banner-tierradelfuego div h2, .banner-santacruz div h2, .banner-cordoba div h2, .banner-mendoza div h2, .banner-jujuy div h2, .banner-salta div h2, .banner div h2 {
  font-size: 5vw;
  color: white;
}

.banner-tierradelfuego div p, .banner-santacruz div p, .banner-cordoba div p, .banner-mendoza div p, .banner-jujuy div p, .banner-salta div p, .banner div p {
  font-size: 2vw;
  color: white;
}

.sub-paquetes, section .sub-paquetes {
  background-color: #2a1737;
  color: white;
  text-align: center;
}

.imagenes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.grid-cards {
  width: 100%;
}

/* banner */
.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.775)), url(../../img/banner.avif);
}
/* fin del banner */
section .sub-paquetes p {
  font-size: 2vw;
  color: white;
}

.con-grid {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1em;
}
/* Estilos para dispositivos móviles */
@media screen and (max-width: 767px) {
  .con-grid {
    display: block;
  }
  .grid-one,
  .grid-two {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}
/* estilos para pantallas medianas */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .grid-one,
  .grid-two {
    width: 100%;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .grid-two {
    margin-right: 0;
  }
}
/* Estilos para pantallas grandes */
@media screen and (min-width: 992px) {
  .grid-one,
  .grid-two {
    width: 50%;
    margin-right: 30px;
    margin-bottom: 0;
  }
  .grid-two {
    margin-right: 0;
  }
  .con-grid {
    display: flex;
  }
}
/* ===================================footer======================= */
.img-one:hover, .img-two:hover, .img-three:hover {
  box-shadow: 5px 5px 20px rgba(6, 6, 6, 0.4);
  transform: translatey(-3%);
}

.con-grid .grid-one, .con-grid .grid-two {
  background-color: rgba(77, 76, 78, 0.4);
  text-align: center;
  border: solid black 1px;
}

.link-wpp, .link-insta, .link-mail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-tierradelfuego, .banner-santacruz, .banner-cordoba, .banner-mendoza, .banner-jujuy, .banner-salta, .banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.banner-tierradelfuego div h2, .banner-santacruz div h2, .banner-cordoba div h2, .banner-mendoza div h2, .banner-jujuy div h2, .banner-salta div h2, .banner div h2 {
  font-size: 5vw;
  color: white;
}

.banner-tierradelfuego div p, .banner-santacruz div p, .banner-cordoba div p, .banner-mendoza div p, .banner-jujuy div p, .banner-salta div p, .banner div p {
  font-size: 2vw;
  color: white;
}

.sub-paquetes, section .sub-paquetes {
  background-color: #2a1737;
  color: white;
  text-align: center;
}

/* footer */
footer {
  background-color: rgba(77, 76, 78, 0.7);
  color: white;
  padding: 30px 0;
}
footer div div div h3 {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}
footer div div div p {
  font-size: 15px;
  margin-bottom: 10px;
}
footer div div div h3 {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}
footer div div div nav ul {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
  list-style: none;
}
footer div div div nav ul li {
  margin: 0 10px;
}
footer div div div nav ul li .icono {
  width: 30px;
}
footer div div div nav ul li .icono:hover {
  transform: translatey(-10%);
}

@media (max-width: 767px) {
  footer {
    text-align: center;
  }
  .social-icons {
    margin-top: 20px;
    justify-content: center;
  }
  .col-md-6 {
    width: 100%;
    margin-bottom: 30px;
  }
}
/* ===============================PAGINA CONOCENOS================================= */
/*conocenos style*/
.mapa {
  display: flex;
  justify-content: center;
}

.p-conocenos {
  margin: 0 2em;
}

/* ================================salta================================ */
.img-one:hover, .img-two:hover, .img-three:hover {
  box-shadow: 5px 5px 20px rgba(6, 6, 6, 0.4);
  transform: translatey(-3%);
}

.con-grid .grid-one, .con-grid .grid-two {
  background-color: rgba(77, 76, 78, 0.4);
  text-align: center;
  border: solid black 1px;
}

.link-wpp, .link-insta, .link-mail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-tierradelfuego, .banner-santacruz, .banner-cordoba, .banner-mendoza, .banner-jujuy, .banner-salta, .banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.banner-tierradelfuego div h2, .banner-santacruz div h2, .banner-cordoba div h2, .banner-mendoza div h2, .banner-jujuy div h2, .banner-salta div h2, .banner div h2 {
  font-size: 5vw;
  color: white;
}

.banner-tierradelfuego div p, .banner-santacruz div p, .banner-cordoba div p, .banner-mendoza div p, .banner-jujuy div p, .banner-salta div p, .banner div p {
  font-size: 2vw;
  color: white;
}

section .sub-paquetes, .sub-paquetes {
  background-color: #2a1737;
  color: white;
  text-align: center;
}

/* carrousel */
.carousel-inner {
  max-height: 20rem;
}

.banner-salta {
  background-image: linear-gradient(rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.775)), url(../../img/salta1.jpg);
}
.formulario {
  background-color: rgba(77, 76, 78, 0.4);
  margin-bottom: 2em;
}

.lista-formulario {
  background-color: white;
  border-radius: 0.3rem;
  padding: 0.3em;
}

/* ====================================jujuy=================================== */
.carousel-inner {
  max-height: 20rem;
}

.banner-jujuy {
  background-image: linear-gradient(rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.775)), url(../../img/jujuy3.jpg);
}
/* ====================================mendoza=================================== */
.carousel-inner {
  max-height: 20rem;
}

.banner-mendoza {
  background-image: linear-gradient(rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.775)), url(../../img/mendoza1.jpg);
}
/* ===============================cordoba=================================== */
.carousel-inner {
  max-height: 20rem;
}

.banner-cordoba {
  background-image: linear-gradient(rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.775)), url(../../img/cordoba4.jpg);
}
/* ===============================santa cruz=================================== */
.carousel-inner {
  max-height: 20rem;
}

.banner-santacruz {
  background-image: linear-gradient(rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.775)), url(../../img/santacruz1.jpg);
}
/* ===============================tierra del fuego=================================== */
.carousel-inner {
  max-height: 20rem;
}

.banner-tierradelfuego {
  background-image: linear-gradient(rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.775)), url(../../img/tierradelfuego1.jpg);
}
.img-one:hover, .img-two:hover, .img-three:hover {
  box-shadow: 5px 5px 20px rgba(6, 6, 6, 0.4);
  transform: translatey(-3%);
}

.con-grid .grid-one, .con-grid .grid-two {
  background-color: rgba(77, 76, 78, 0.4);
  text-align: center;
  border: solid black 1px;
}

.link-wpp, .link-insta, .link-mail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner, .banner-salta, .banner-jujuy, .banner-mendoza, .banner-cordoba, .banner-santacruz, .banner-tierradelfuego {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.banner div h2, .banner-salta div h2, .banner-jujuy div h2, .banner-mendoza div h2, .banner-cordoba div h2, .banner-santacruz div h2, .banner-tierradelfuego div h2 {
  font-size: 5vw;
  color: white;
}

.banner div p, .banner-salta div p, .banner-jujuy div p, .banner-mendoza div p, .banner-cordoba div p, .banner-santacruz div p, .banner-tierradelfuego div p {
  font-size: 2vw;
  color: white;
}

section .sub-paquetes, .sub-paquetes {
  background-color: #2a1737;
  color: white;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
