/* ===============================PAGINA CONOCENOS================================= */

/*conocenos style*/
.mapa{
    display: flex;
    justify-content: center;
}
.p-conocenos{
    
    margin: 0 2em;
}