/* ===================================footer======================= */
@import "../base/extend";
/* footer */
.sub-paquetes{
  @extend %sub-paquetes
}

footer {
    background-color:nth($colores-generales, 3 );
    color:nth($colores-generales, 2 );
    padding: 30px 0;

    div{

      div{

        div{

          h3 {
            color:nth($colores-generales, 2 );
            font-size: 20px;
            margin-bottom: 20px;
          }

          p {
            font-size: 15px;
            margin-bottom: 10px;
          }

        }

        div{

          h3{
            color:nth($colores-generales, 2 );
            font-size: 20px;
            margin-bottom: 20px;
          }
            

          nav{

            ul{

            
              display: flex;
              justify-content: start;
              align-items: center;
              padding: 0;
              margin: 0;
              margin-bottom: 1em;
              list-style: none;

              li{

                margin: 0 10px;

                .icono{

                  width: 30px;
                  &:hover{
                    transform: translatey(-10%);
                }

                }

              }
              
            
            }
          }
        }
      }
    }
  }

  

  @media (max-width: 767px) {
    footer {
      text-align: center;
    }

    .social-icons {
      margin-top: 20px;
      justify-content: center;
    }

    .col-md-6 {
      width: 100%;
      margin-bottom: 30px;
    }
  }


.link-wpp, .link-insta, .link-mail{

    @extend %dflex-iconos
}
