@import "../base/listas";

.logo:hover{
    transform: scale(1.5);
    transition-duration: 0.3s;
}


.color{
    background-color:nth($colores-generales, 1 );
    
}
.color-font{
    color:nth($colores-generales, 2 );
}

.color-dropdown{
    background-color:nth($colores-generales, 1 );

}


.color-boton{
    background-color:nth($colores-generales, 1 );
    color:nth($colores-generales, 2 );
}

.btn:hover{
    transform: scale(1.1);
    background-color:nth($colores-generales, 3 );
    border: 1px solid white;
    color:nth($colores-generales, 2 );

}
.fondo-btn{
    background-color: rgb(87, 87, 87);
}
