%cards-hover{
    box-shadow: 5px 5px  20px rgba(6, 6, 6, 0.4);
    transform: translatey(-3%);
}

%parrafos-grid{
    background-color: rgba(77, 76, 78, 0.400);
    text-align: center;
    border: solid black 1px;
}

%dflex-iconos{
    display: flex;
    align-items: center;
    justify-content: center;
}

%banner{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

%h2-banner{
    font-size: 5vw;
        color: nth($colores-generales, 2 );
}

%p-banner{
    font-size: 2vw;
        color: nth($colores-generales, 2 );
}

%sub-paquetes{
    background-color: #2a1737;
    color: white;
    text-align: center;
}